# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.xccheckout
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
.build/
Packages/

# macOS
.DS_Store

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Other
*.swp
*.lock
